<p style="color: green"><%= notice %></p>

<h2><%= @group.title %></h2>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>

<h3> Messages: </h3>

<%= turbo_stream_from :messages %>

<%= turbo_frame_tag :message_form do %>
  <%= render 'messages/form', message: @message %>
<% end %>

<%= turbo_frame_tag :messages do %>
  <%= render @group.messages %>
<% end %>

